<button class="table-bordered " style="background-color: @CurrentCell.Colour; height: 45px; width: 45px" @onclick="CurrentCell.SwitchActive">
</button>

@code {

    [Parameter]
    public CellElement CurrentCell { get; set; }

    public class CellElement
    {
        public bool IsAlive { get; set; }

        public string Colour => IsAlive
            ? "green"
            : "white";

        public void SwitchActive()
        {
            IsAlive = !IsAlive;
        }
    }
}